.top-bar, .top-bar ul {
  background-color: wheat;
}

.title-bar {
  background-color: bisque;
  color: orange;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: #ff0000 transparent transparent;
}
